@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*===== VARIABLES CSS =====*/

:root {
     /*===== Colors =====*/
    --title-color: #ffffff;
    --text-color: #000000;
    --section-text-color: #333B41;
    --button-color: linear-gradient(45deg, #F9804B, #FE9013);
    --button-color-hover: #E47209;
    --button-color-active: #4B9200;

    /*===== Font and typography =====*/
    --body-font: 'Roboto', sans-serif;
    --h1-font-size: 1.1875rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .9375rem;

    /*===== Font weight =====*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;

}

/*===== BASE =====*/
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--title-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

h1,h2,h3,ul,p {
    margin: 0;
}

h1,h2,h3 {
    font-weight: var(--font-regular);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*==== HEADER ====*/

.header__container {
    height: 80px;
    background-color: var(--text-color);
}

.header {
    display: flex;
}

.logo {
    width: 82px;
    height: 52px;
    margin: 14px 0 0 220px;
    padding: 2.55px 3.75px 2.55px 3.75px;
    color: var(--title-color);
    border: solid var(--title-color) 1px;
    border-radius: 2px;
    line-height: 22.82px;
}

.logo__text {
    font-size: var(--h1-font-size);
    text-align: center;

}

.bamboo {
    position: relative;
    top: -25px;
    left: 5.5px;
}

.nav__menu {
    height: 50px;
    margin: 29px 34px 0 34px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin: 0 29px;
}

.nav__link {
    color: var(--title-color);
}

.nav__link:hover {
    background: var(--button-color-hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f9804e;
}

.nav__link.active-nav-button {
    background: var(--button-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f9804e;
}

.copyright {
    margin: 29px 0 0 377px;
    color: #ffffff;
}

.copyright:hover{
    background: var(--button-color-hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f9804e;
}

.copyright.active-nav-button {
    background: var(--button-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f9804e;
}


/*==== MAIN ====*/
/*==== Hero section====*/

.container.main {
    max-height: 780px;
}

.hero__container {
    width: 1600px;
    height: 700px;
    background-image: url('/assets/images/jpg/Panda.jpg');
    background-repeat: no-repeat;
}

.hero {
    position: relative;
    top: 12px;
    left: 807px;
}

.circle {
	width: 465px;
	height: 465px;
	background: var(--button-color);
	border-radius: 240px;
}

.hero__text {
    position: relative;
    font-size: 106.5px;
    font-weight: var(--font-bold);
    color: var(--title-color);
    text-align: center;
    align-self: center;
    line-height: 80px;
    top: 73px;
    left: 89px;
}

.hero__text span {
    color: #ffee2e;
}

.hero__button {
    position: relative;
    top: 69px;
    left: 175px;
}
.round__button {
    cursor: pointer;
    font-size: var(--normal-font-size);
    width: 298px;
    height: 54px;
    border: none;
    border-radius: 25px;
    background: var(--button-color);
    color: var(--title-color);
}

.round__button:hover {
    background: var(--button-color-hover)
}



/*==== The Backstage section ====*/

.backstage__content {
    position: relative;
    top: 140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 219px;
}

.backstage__item {
    flex: 50%;
}

.bamboo-cap {
    width: 609px;
    height: 403px;
}

.backstage__text {
    margin-left: 87px;
}

.backstage__item h2 {
    font-size: var(--h2-font-size);
    color: var(--section-text-color);
}


.flowers {
    display: inline;
}

