.panda__bg {
    min-height: 390px;
    background:  url(../../assets/images/jpg/Panda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 40px;
}

.donation {
    padding-bottom: 180px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.title {
    font-size: 36px;
    color: #FFFFFF;
    line-height: 130%;
    padding-top: 40px;
}

.donatin__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding-top: 10px;
    color: #FFFFFF;
}

.donation__info-sign {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    padding-top: 40px;
    color: #FE9013;
}

.friends-content__wrapper {
    width: 100%;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin-top: 60px;
}

.friends-content__container {
    width: calc(100% - 184px);
}

.friends__title {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
}

.friends__text1 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.friens__diet {
    max-width: 590px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    margin-top: 60px;
}

.friends__diet-day {
    padding-top: 52px;
}

.diet-day__number {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.diet-day__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
    padding-top: 11px;
}

.frinds__diet-cross {
    padding-top: 23px;
}

.friends__text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.donation-bar__bg {
    margin-top: 17px;
    background: #404950;
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
}

.donation-bar__line {
    width: calc(100% - 120px);
    height: 2px;
    background: #72828E;
    margin-left: 62px;
}

.donation-bar__circles {
    display: flex;
    margin-top: -20px;
}

.bar-circle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bar__label {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
}
